{% extends 'auth.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4" style="width: 100%; max-width: 400px;">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <h1 class="text-center mb-4">Login</h1>

            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required class="form-control">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="_password" required class="form-control">
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>

         </div>
    </div>
{% endblock %}
